.flashsale-edit {

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .ant-form-item-required {
    font-weight: 500;
  }

  .ant-form-item-row {
    padding-bottom: 10px;
  }

  .ant-form-item:last-child {
    margin: 0;
  }

}